.container {
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    max-width: 900px; /* Consistent max width for content */
    margin: 20px auto; /* Center the content with margin */
    padding: 0 15px; /* Padding for alignment */
}

.navbar {
    background-color: #333; /* Example navbar color */
}

.lesson-links div, .research-links div, .cv-links div {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.lesson-links a, .research-links a, .cv-links a {
    text-decoration: none;
    color: #007bff; /* Example link color */
}

.accordion .card-header, .panel .panel-heading {
    cursor: pointer;
}

.iframe-container {
  position: fixed; /* Full-screen with fixed positioning */
  top: 56px; /* Height of navbar assumed to be 56px */
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  height: calc(100% - 56px); /* Full height minus navbar height */
}

iframe {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  border: none; /* Remove the border */
}
